<th:block th:fragment="modalTransferInfo">
  <div class="modal fade" id="modalTransferInfo">
    <div class="modal-dialog modal-dialog-centered modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5">Modal Transfer Info</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

          <table class="table table-striped">
            <tr style="background-color: #4caf50">
              <th>ID</th>
              <th>Sender ID</th>
              <th>Sender Name</th>
              <th>Repicient ID</th>
              <th>Repicient Name</th>
              <th>Transfer Amount</th>
              <th>Fees</th>
              <th>Fees Amount</th>
              <th>Transaction Amount</th>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </table>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

        </div>
      </div>
    </div>
  </div>
</th:block>